<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand" href="#">PasswordManager</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> {{Username}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="settings">Nastavení</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="">Odhlásit se</a>
          </div>
        </li>
      </ul>
  
    </links>
  
  </mdb-navbar>
  
<router-outlet></router-outlet>
<app-show-data></app-show-data>
